<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>ГУР</title>
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
 </head>
 <body style="font-family:'monospace'; font-size:14px"> 
    <div style="width: 600px; text-align:center">

      {% include "addons/base.html" %}

		<div style="width:500px; margin: auto; text-align:left"> 
 			<p>
        		<h3>РЕЗУЛЬТАТ:</h3>
 				{{result}}
 			</p>
 		</div>
 	</div>
 

		{% include "addons/counter.html" %}

 </body>
</html>