<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>ГУР</title>
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script>
    function anichange (objName) {
      if ( $(objName).css('display') == 'none' ) {
        $(objName).animate({height: 'show'}, 400);
      } else {
        $(objName).animate({height: 'hide'}, 200);
      }
    }
  </script>
 
 </head>
 <body style="font-family:'monospace'; font-size:14px"> 
    <div style="width: 600px; text-align:center">

      {% include "addons/base.html" %}

       <div style="width:500px; margin: auto; text-align:left"> 

       {% include "addons/list.html" %}
      </div>
    </div>

    {% include "addons/counter.html" %}

 </body>
</html>
