
 <div style="width: 600px; text-align:center">
 <img width="600" src="http://flatik.ru/flax/666/665461/665461_html_52d2ffb9.png" alt="Image"> 
 <form action="">
  <p><textarea rows="5" cols="60" name="text">{{text}}</textarea></p>
  <p><textarea rows="1" cols="60" name="key">{{key}}</textarea></p>
  <p>
  	<button formaction="za">ЗАШИФРОВАТЬ</button>
  	<button formaction="ra">РАСШИФРОВАТЬ</button>
  	<button formaction="ha">ХАКНУТЬ</button>
  </p>
 </form>

 