      	<p>
        	<h3>РЕЗУЛЬТАТ:</h3>

          {%include "addons/lendeb.html" %}

           {% for r in result %}
           <p>Для ключа длиной {{r.0}}</p>
            <table style="valign: top">
             <tr>
              {% for ch_list in r.1 %}
               <td valign=top>
                {% for ch in ch_list.0 %}
                 {{ch}}<br>
                {% endfor %}
               </td>
              {% endfor %}
             <tr>
            </table>
            <table style="valign: top">
             <tr>
              {% for ch_list in r.1 %}
               <td valign=top>
                 <a href="#" onclick="anichange('#{{r.0}}{{ch_list.0.0}}'); return false"><font size="3">▼</font></a>
                 <div id="{{r.0}}{{ch_list.0.0}}" style="display: none">
                 <pre>{{ch_list.1}}</pre>
                 </div> 
               </td>
              {% endfor %}
             <tr>
            </table>
              

           {% endfor %}
 	      </p>